.env

# *.jpeg
# *.jpg
!dataset/*

.DS_Store
*/__pycache__/**
__pycache__/*
# **/ignoreable/*

.vscode


## For claude
**/.claude
**/.claude*
**/.anthropic
**/.anthropic*
**/.claude_cache/
**/.claude_cache/**

**/.playwright-mcp