**/__pycache__/*


## ================================
/TEMP/input/corner_positions/*
/TEMP/input/quads/**/*
/TEMP/input/*
/TEMP/output/**/*.jpg
/TEMP/**.py
## ================================


/static/images/*
!/static/images/.gitkeep

*.pyc

test.db
database.db
test_report.txt

# THERES MORE TO ADD IM JUST FORGETTING