**/__pycache__/*


## ================================
/TEMP/input/corner_positions/*
/TEMP/input/quads/**/*
/TEMP/input/*
/TEMP/output/**/*.jpg
## ================================


/static/images/*
!/static/images/.gitkeep

/backend/test_report.txt
*.pyc

test.db
database.db

**/test_*.py

# THERES MORE TO ADD IM JUST FORGETTING