**/__pycache__/*


## ================================
# /TEMP/input/*
# !/TEMP/input/corner_positions

# /TEMP/output/**.jpg
# /TEMP/output/DEBUG/*
# /TEMP/output/**/_09_sections/*
## ================================

#region TEST FILES SETTING 2
/TEMP/*
#endregion


/static/images/*
!/static/images/.gitkeep

/backend/test_report.txt
*.pyc

test.db
database.db

**/+test_*.py

# THERES MORE TO ADD IM JUST FORGETTING