@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import "tw-animate-css";



/* ============FONTS============ */
@import './lib/styles/font.css';


/* ============THEME============ */
@import './lib/styles/theme.css';
@import './lib/styles/bg.css';


/* ============RESPONSIVENESS============ */
@theme {
  --breakpoint-xs: 480px;
}

.app {
  width: 100%;
  min-height: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding-inline: 1rem;
  padding-block: 1.5rem;
}

/* 2xl (Widescreen monitors) */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl (Modern laptops, desktops) */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg (Laptops) */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md (Tablets) */
@media (max-width: 768px) {
  .container,
  footer,
  main {
    max-width: 640px;
  }
}

/* sm (Big phones, mini-tablets) */
@media (max-width: 640px) {
  .container,
  footer,
  main {
    width: 100%;
  }
}

/* xs (Phones) */
@media (max-width: 475px) {
  .container,
  footer,
  main {
    width: 100%;
  }
}


/* ============BASE============ */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  
  body {
    background-color: var(--background);
    background-image: var(--background-graph-paper);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  nav {
    width: inherit;
  }

	h1 {
		@apply text-2xl;
    font-family: var(--font-heading);
    letter-spacing: -0.05em;
		font-weight: bold;
    text-align: center;
	}

	h2 {
		@apply text-xl;
    font-family: var(--font-heading);
    letter-spacing: -0.05em;
	}

	h3 {
		@apply text-lg;
	}

	h4 {
		@apply text-base;
	}

  h5 {
    @apply text-base;
    opacity: 80%;
  }

	p {
    @apply text-sm;
		opacity: 90%;
	}
  
  h6 {
    @apply text-sm;
    opacity: 60%;
  }
}


/* ============COMPONENTS============ */
@layer components {
  .app {
    @apply flex flex-col;
    @apply px-4 py-8;
    @apply gap-4;
  }

  .subcontainer {
    @apply w-full;
    @apply md:w-7/8;
    @apply lg:w-5/6;
    @apply xl:w-4/5;
  }

  .button-primary {
    background-color: var(--primary);
    color: var(--primary-foreground);
    text-align: center;
    font-weight: 500;
		@apply py-1 px-2;
		@apply rounded;
    @apply shadow-xs;
    cursor: pointer;
	}

	.button-secondary {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    text-align: center;
    font-weight: 500;
		@apply py-1 px-2;
		@apply rounded;
    @apply shadow-xs;
    cursor: pointer;
	}

  .button-destructive {
    background-color: var(--destructive);
    color: var(--color-white);
    /* text-align: center; */
    font-weight: 500;
    @apply py-1 px-2;
    @apply rounded;
    @apply shadow-xs;
    cursor: pointer;
  }
  .button-destructive:hover {
    opacity: 80%;
  }

  .button-floating {
    @apply bg-linear-to-b from-white to-neutral-100;
            @apply hover:from-neutral-50 hover:to-neutral-200;
    color: var(--color-primary-700);
    @apply border border-border;
    @apply shadow;
    @apply rounded-full;
    height: fit-content;
    @apply *:size-8;
  }

  .button-floating-secondary {
    @apply bg-linear-to-b from-white to-neutral-100;
            @apply hover:from-neutral-50 hover:to-neutral-200;
    color: var(--secondary-700);
    @apply border border-border;
    @apply shadow;
    @apply rounded-full;
    height: fit-content;
    @apply *:size-8;
  }
}


/* ============UTILITIES============ */
@layer utilities {
  .button-outline {
    background-color: var(--card);
    color: var(--card-foreground);
    /* text-align: center; */
    font-weight: 500;
    @apply py-1 px-2;
    @apply rounded;
    @apply shadow-xs;
    @apply ring ring-border border-0;
    cursor: pointer;
  }
}

/* ============ANIMATIONS============ */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slow-spin {
  animation: spin 15s linear infinite;
  display: inline-block;
}
